.bottom-nav-component {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  user-select: none;
  position: absolute;
  z-index: 1;
  padding: 0 5%;
  bottom: 20px;
  left: 0;
  right: 0;
  height: 20px;
}
.bottom-nav-component p {
  float: right;
}
.bottom-nav-component a {
  text-decoration: none;
  color: #585757;
  cursor: pointer;
  margin-left: 5px;
}
.bottom-nav-component a:hover,
.bottom-nav-component a:active {
  color: #2396ef;
}
.bottom-nav-component::after,
.bottom-nav-component,
.bottom-nav-component::before {
  box-sizing: border-box;
}
.bottom-nav-component .music {
  width: 25px;
  height: 25px;
  cursor: pointer;
  background: url('http://img.lijundong.cn/Project/Blog/musicIcon.svg') no-repeat center / cover;
  display: none;
}
.bottom-nav-component audio {
  opacity: 0;
}
.bottom-nav-component .rotate {
  animation: rotate 5s linear infinite;
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
