.animation-speed-component {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  user-select: none;
  position: relative;
}
.animation-speed-component::after,
.animation-speed-component,
.animation-speed-component::before {
  box-sizing: border-box;
}
.animation-speed-component .down {
  position: absolute;
  left: 50%;
  bottom: -11px;
  z-index: 9;
  cursor: pointer;
  height: 20px;
}
.animation-speed-component .down:hover,
.animation-speed-component .down:active {
  border-color: #4086ef transparent transparent transparent;
}
