.resume-editor-component {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  user-select: none;
}
.resume-editor-component.resumeEditor {
  overflow: auto;
  padding: 0.5em;
  margin: 0.5em;
}
.resume-editor-component.resumeEditor a {
  transition: color 0.3s linear;
}
.resume-editor-component.resumeEditor .htmlMode {
  animation: flip 3s;
}
@keyframes flip {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
