.login-page {
  height: 100%;
  background-image: url(../../assets/images/login-bg.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}
.login-page .login-card {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  max-width: calc(100% - 20px);
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.3);
  border: none;
}
.login-page .login-card-title {
  text-align: center;
  color: pink;
  font-size: 30px;
  margin-top: 10px;
}
.login-page .login-card-input {
  background: transparent !important;
  height: 38px;
  border-radius: 0;
}
.login-page .login-card-input:focus {
  background: transparent !important;
}
.login-page .login-card-tips {
  margin-top: 20px;
  text-align: center;
  color: pink;
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #6ab5ff, 0 0 70px #6ab5ff, 0 0 80px #6ab5ff, 0 0 100px #6ab5ff, 0 0 150px #6ab5ff;
}
